/* EmployeeForm.css */
/* *{
  background: #414141;
} */
#addcomform{
    border-radius: 0px 50px;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 211, 0, 1) 25%, #dddddd 25%);
    width: 72vw;
    height: fit-content;
    margin-left: 10%;
    /* margin-top: 10%; */
    
  }
  .form-title {
    margin-top: 65%;
    font-size: 30px;
    font-weight: 800px;
    color: black;
    font-family:sans-serif;
    background: none;
   
   }
   
  
  /* Container for the content */
  #global-background {
    background: #414141;
    padding: 10px 0 0px; /* Top, Right, Bottom padding; Left is 0 */
    min-height: 100vh; /* Cover the entire viewport height */
    box-sizing: content-box; /* Adjust box sizing for padding */
    overflow-y: auto;
  }

   .employee-form{
    background: none;
   }

  #insideBox{
    background-color: white; 
    padding: 20px;
    border-radius: 15px;
    margin-top: -4%;
    margin-left: 1%;
    width: 97%;
    height: fit-content;
    margin-top: -2%;
    
}


#addsubmitcom{
  float: right;
  /* margin-top: 35%; */
  border: 1.5px solid black;

}


#addcom{
  border: 1px solid rgba(0, 0, 0, 0.445);
}



#dropdown{
  border: 1px solid rgba(0, 0, 0, 0.445);
  width: 100%;
  height: 6vh;
  border-radius: 5px;
}

#addcomlabel{
  background: rgba(255, 213, 0, 0.819);
  width: 50%;
  border-radius: 1px ;
  font-weight: 800px;
  color: black;
}
#addempnum{
  /* background: rgba(255, 213, 0, 0.819);
  width: 70%; */
  border-radius: 1px ;
  font-weight: 800px;
  color: black;
}



